


<div class="container">

    <h4>Add Work Requirement</h4>
    <form class="form-container"  (ngSubmit)="addWorkReq()"  novalidate [formGroup]="createRequirementForm">
	<div class="row">
		<div class="col-lg-4 col-sm-12">
           <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" >
      </mat-form-field>
		</div>
		<div class="col-lg-8 col-sm-12">
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" formControlName="description">
              </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field>
                <mat-label>Organization/Employer </mat-label>
                <mat-select   formControlName="employer">
                  <mat-option *ngFor="let employer of employerList" [value]="employer">
                    {{employer.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Location" type="text"formControlName="location" >
                
              </mat-form-field>
        </div>
      
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <mat-label>Skill Required </mat-label>
                <mat-select formControlName="skill_req">
                  <mat-option *ngFor="let skill of skillList" [value]="skill">
                    {{skill.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
		</div>
        <div class="col-3">
            <mat-form-field >
                <input matInput placeholder="duration (in days)" type="text" formControlName="duration">
                
              </mat-form-field>
        </div>
    </div>
        <div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="start_dt">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
		</div>
		
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="end_dt">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Benifits" type="text" formControlName="benifits">
                
              </mat-form-field>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Worker Required" type="text" formControlName="worker_req">
                
              </mat-form-field>
        </div>
       
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
            <input matInput placeholder="Payment(per Day)" type="number"  formControlName="payment" >
          </mat-form-field>
</div>
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field>
                <input matInput placeholder="URL"  formControlName="url" >
              </mat-form-field>
		</div>
    </div>

    <button
    mat-raised-button
    color="primary"
    class="login-button"
    type="submit">
    Add Work Requirement
  </button>
</form>

</div>