<!-- 
<div class="container-fluid"  style="background-color: white;"> 
    <h4>Registration</h4>
    <form class="form-container">

        <div class="row">
            <div class="col-6">
                <mat-form-field>
                   
                    <input  matInput  placeholder="Full Name"   >
               
                  
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>

	<div class="row">
		<div class="col-6">
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
		</div>
		<div class="col-6">
            <mat-form-field >
                <input matInput placeholder="Email" type="email" >
                
              </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
            <mat-form-field >
                <input matInput placeholder="Skills" type="text" >
                
              </mat-form-field>
		</div>
		<div class="col-6">
            <mat-form-field >
                <input matInput placeholder="Experience(yrs)" type="number" >
                
              </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
            <mat-form-field>
                <input matInput placeholder="pay" type="text" >
                
              </mat-form-field>
		</div>
		<div class="col-6">
            <mat-form-field >
                <input matInput placeholder="duration(hrs)" type="number" >
                
              </mat-form-field>
		</div>
	</div>
	
    <button
    mat-raised-button
    color="primary"
    class="login-button">
    Add Employee
  </button>
</form>
</div> -->

<h2>Registration</h2>
<form class="form-container"   novalidate [formGroup]="profileForm" >
<mat-accordion class="example-headers-align " >
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          <!-- Type your name , DOB and Email -->
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
  
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

    </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
  
      <mat-form-field appearance="fill">
        <mat-label>DOB</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field>
        <input
        matInput
        placeholder="Contact"
        type="number"
        required
        minlength="10"
        formControlName="contact"
        >
       
      </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select name="gender" formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value" >
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
  
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
  
      </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
    
            <mat-form-field>
                <input
                matInput
                placeholder="Adhar Card Number"
                type="number"
                required
                minlength="10"
                formControlName="Adhar_no"
                >
               
              </mat-form-field>
        
      </div>
       
    </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Address
        </mat-panel-title>
        <mat-panel-description>
         
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
    
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput  formControlName="address">
        </mat-form-field>
  
      </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
    
            <mat-form-field>
                <mat-label>city</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>
        
      </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field>
                <mat-label>state</mat-label>
                <input matInput formControlName="State">
              </mat-form-field>
        </div>
  
        <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field>
                <input
                matInput
                placeholder="Pin"
                required
                minlength="6"
                formControlName="Pin"
                >
               
              </mat-form-field>
        </div>
      </div>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Experience and Skills
        </mat-panel-title>
        <mat-panel-description>
         
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
        <mat-form-field>
            <mat-label>Skill</mat-label>
            <mat-select [(ngModel)]="select" name="skill" formControlName="skill_req">
              <mat-option *ngFor="let skill of skillList" [value]="skill" >
                {{skill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field>
                <mat-label>Experience(in yrs)</mat-label>
                <input matInput formControlName="experience">
              </mat-form-field>
      </div> 
      <div class="col-lg-3 col-md-4 col-sm-6">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select  name="Status" formControlName="status">
            <mat-option *ngFor="let status of statuss" [value]="status.value" >
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
      </div>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

    <button
    mat-raised-button
    color="primary"
    class="login-button" (click)="save()" type="submit" >
    Save
  </button>
  
  </mat-accordion>
</form>