<nav class="navbar  navbar-expand-md navbar-expand-lg bg-dark navbar-fixed-top fixed-top ">
    <div class="container-fluid">
		<span class="navbar-brand logo-style"><img src="https://i7.pngguru.com/preview/652/351/643/job-hunting-employment-computer-icons-others.jpg" class="logo"></span>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid" aria-controls="navbarid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" > </span>
		</button>
		<div class="collapse navbar-collapse" id="navbarid">
		<ul class="navbar-nav  ml-auto" *ngIf=!isHidden>
		
      <li class="nav-item">
				<a href="#" class="nav-link">{{userObj.name}}</a>
			</li>

         
			
			<li class="nav-item dropdown">
                <button
                mat-raised-button
                color="primary"
                class="login-button"  routerLink="/login" type="reset">
                Logout 
              </button>
				
			</li>
		
			
	
   
		</ul>
</div>



		</div>

	</nav>

