.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .card-style{
    width: 80%;
    margin-top: 10%;
    background-color: #ffff;
    border: 2px solid;
    height: 96%;
    padding: 3%;
}
.card-text-style{
    font-family: serif;
    margin: -4px;
    text-align-last: left;
    font-size: 11px;

}
.card-hover:hover{
padding:1px;
}
.card-img{
    height: 36%;
}
