.card-style{
    width: 96%;
    
    margin-top: 10%;
    background-color: #ffff;
    border: 2px solid;
    height: 90%;
    padding: 3%;;
}
.card-text-style{
    font-family: serif;
    margin: -4px;
    text-align-last: left;
    font-size: 11px;

}
.card-hover:hover{
padding:1px;
}
.card-img{
    height: 36%;
}
.login-button{
    background-color: #001029;
}