


<div class="container">

    <h4>Edit Work Requirement</h4>
    <form class="form-container"  *ngFor="let item of currentwork" (ngSubmit)=" editwork()" novalidate [formGroup]="createupdateForm">
	<div class="row">
		<div class="col-lg-4 col-sm-12">
           <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="item.title" formControlName="title" >
      </mat-form-field>
		</div>
		<div class="col-lg-8 col-sm-12">
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" [(ngModel)]="item.description" formControlName="description">
              </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field>
                <mat-label>Organization/Employer </mat-label>
                <mat-select [(ngModel)]="item.employer"  formControlName="employer">
                  <mat-option *ngFor="let employer of employerList" [value]="employer.name">
                    {{employer.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Location" [(ngModel)]="item.location" type="text"formControlName="location" >
                
              </mat-form-field>
        </div>
      
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <mat-label>Skill Required </mat-label>
                <mat-select [(ngModel)]="item.skill_req" formControlName="skill_req">
                  <mat-option *ngFor="let skill of skillList" [value]="skill.name">
                    {{skill.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
		</div>
        <div class="col-3">
            <mat-form-field >
                <input matInput placeholder="duration (in days)" type="text" [(ngModel)]="item.duration" formControlName="duration">
                
              </mat-form-field>
        </div>
    </div>
        <div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="item.start_dt" formControlName="start_dt">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
		</div>
		
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="item.end_dt" formControlName="end_dt">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Benifits" type="text" [(ngModel)]="item.benifits" formControlName="benifits">
                
              </mat-form-field>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field >
                <input matInput placeholder="Worker Required" type="text" [(ngModel)]="item.worker_req" formControlName="worker_req">
                
              </mat-form-field>
        </div>
       
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
            <input matInput placeholder="Payment(per Day)" type="number" [(ngModel)]="item.payment" formControlName="payment" >
          </mat-form-field>
</div>
        <div class="col-lg-4 col-md-5 col-sm-12">
            <mat-form-field>
                <input matInput placeholder="URL" [(ngModel)]="item.url" formControlName="url" >
              </mat-form-field>
		</div>
    </div>
    <div class="row">
      
      <div class="col-lg-4 col-md-5 col-sm-12">
        <label>isActive</label>
              <select [(ngModel)]="item.isActive" formControlName="isActive" >
                  <option>True </option>
                  <option>False </option>
              </select>
           
           
  </div>
    </div>

    <button
    mat-raised-button
    color="primary"
    class="login-button"
    type="submit">
    Edit
  </button>
</form>

</div>